@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}




.footer {
	background-color: rgb(69, 101, 120);

	color: rgb(254, 254, 251);

	padding: 2%;

	font-size: 0.875rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01071em;
}
.footer_upper {
	display: flex;
	text-decoration: none;
	width: 80%;
	margin: auto;
}
.links {
	width: 6%;

	margin-top: 3%;
}
.search {
	width: 95%;
	display: flex;
	justify-content: space-between;
	/* border: 1px solid rgb(153, 51, 73); */
}
.search > div {
	width: 25%;
}
.footer_lower {
	width: 80%;
	text-align: center;
	margin: auto;
}
.footer_lower_links {
	display: flex;
	justify-content: space-between;
	text-align: center;
	/* border: 1px solid lawngreen; */
	margin-top: 2%;
}
.copyright {
	text-align: center;
}
.hr_line {
	background-color: rgb(152, 152, 153);
	height: 1px;
	width: 100%;
	margin: 5px;
}
@media (max-width: 942px) {
	.footer_upper {
		display: none;
	}
	.footer_lower {
		display: none;
	}
}

/* //////////FOOTER //////// */

/* Media Queries */

@media (max-width: 1200px) {
	.search_box {
		display: none;
	}
}
@media (max-width: 952px) {
	.button {
		height: 56px;
		margin-top: 0px;
	}
	.new_left {
		display: none;
		visibility: hidden;
	}
	.section_1 p {
		width: 80%;
		margin: 0 auto;
	}

	.section_2 > div {
		font-size: 20px;
		flex-direction: column;
		width: 80%;
	}
	.section_2_cont_1 > h1 {
		font-size: 20px;
		margin-top: 10px;
		width: 100%;
		text-align: center;
		letter-spacing: 0.01em;
		font-weight: 800;
		margin-bottom: 5px;
	}
	.section_2_cont_1 > p {
		width: 100%;
	}
	.section_2_cont_1,
	.section_2_cont_2 {
		margin-top: 10px;
		width: 98%;
		justify-content: space-evenly;
	}
	.section_2_cont_2 > div {
		width: 32%;
		margin-top: 0.75em;
	}

	.section_3_body,
	.section_4_body {
		width: 100%;
		height: 210px;
		display: inline;
		overflow: hidden;
		margin-left: 20%;
		flex-wrap: nowrap;
	}
	.cart_work_exp,
	.cart_upskill {
		width: 80%;
		height: 200px;
	}
	.section_5 > div {
		flex-direction: column;
		justify-content: center;
	}
	.section_5_img,
	.section_5_content {
		width: 100%;
	}
	.section_5_img {
		display: flex;
		justify-content: center;
		margin-left: 0px;
	}
	.section_5_img > img {
		margin-left: 0px;
	}
	.section_5_content > h1 {
		font-size: 18px;
		text-align: center;
	}
	.section_5_content > p {
		font-size: 0.8rem;
	}
	.section_6_cart {
		width: 100vw;
	}
	.section_6_cart > div {
		flex-direction: column;
		width: 80vw;
		height: 40vw;
	}
	.section_6_cart_sec_1 > img {
		margin-left: 20px;
	}
	.section_6_cart > div:nth-child(2) {
		display: none;
	}
	.slide_nav {
		display: none;
	}
}
@media (max-width: 600px) {
	.button {
		display: none;
	}
	.section_2_cont_1 {
		margin-bottom: 30px;
	}
	.side_menu {
		width: 75vw;
	}
	.section_6_cart > div {
		height: 60vw;
	}
}
@media (max-width: 400px) {
	.section_2_cont_1 {
		margin-bottom: 60px;
	}
	.section_6_cart_sec_1 > img {
		margin-left: 31px;
	}
	.section_6_cart > div {
		height: 90vw;
	}
}
@media (max-width: 350px) {
	.section_2_cont_1 {
		margin-bottom: 70px;
	}
}


