@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}
.parent{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 2;
}

/* Navigation CSS */
nav {
	background: #ffffff;
	height: 66px;
	width: 100%;
	/* position: sticky; */
	/* top: 10px; */
	z-index: 1000000;
	border-bottom: 2px solid#dd1e2e;;

}

nav div {
	float: left;
}

.menu_btn,
.cart_btn {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	margin-top: 9px;
	margin-left: 12px;
	cursor: pointer;
}

.cart_btn,
.sign_btn {
	cursor: pointer;
	float: right;
}

.cart_btn {
	margin-right: 20px;
}

.total {
	background: #dd1e2e;
	color: hsl(0, 0%, 100%);
	font-size: 10px;
	padding: 1px;
	width: 20px;
	height: 19px;
	border-radius: 50%;
	position: relative;
	text-align: center;
	right: -20px;
	top: -40px;
	z-index: 15;
}
.butt {
	border: none;
	border-radius: 5px;
	background: #dd1e2e;
	height: 36px;
	color: white;
	width: 90px;
	margin-top: 15px;
	font-weight: bold;
	margin-right: 25px;
	box-shadow: 0.5px 0.5px 3px #888888;
}



.butt:hover {
	opacity: 0.7;
	cursor: pointer;
}




.menu_image {
	width: 48px;
	height: 48px;
}

.cart_image {
	width: 28px;
	height: 28px;
	margin-top: 10px;
	margin-left: 10px;
}

.new_left {
	margin-right: 5px;
}

.new_right {
	margin-left: -5px;
}

.new_right>img {
	border-radius: 50%;
}

.logo {
	cursor: pointer;
	width: 85px;
	height: 48px;
	margin-top: 9px;
	margin-left: 18px;
}

/* Side Menu */
.side_menu {
	display: absolute;
	float: left;
	left: 0px;
	height: 100vh;
	width: 300px;
	background-color: white;
	display: none;
	box-shadow: 0.5px 0.5px 8px #888888;
	z-index: 500;
}

.side_menu_list {
	width: 100%;
	clear: both;
	cursor: pointer;
	display: flex;
	flex-direction: column;
}

.visible {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
}

.visible_2 {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;

	background: rgb(251, 251, 251);
	padding: 10px 20px;
	border-bottom: 1px solid rgb(238, 238, 238);
	border-top: 1px solid rgb(238, 238, 238);
}

.visible:hover {
	background-color: rgba(102, 102, 102, 0.2);
}

/* .when_login {
  display: none;
}
.after_login {
  display: flex;
} */
.side_menu_list p {
	padding-left: 17px;
	font-size: 1rem;
	font-weight: 700;
}

.side_menu_svg_cont {
	width: 20%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.side_menu_svg {
	color: #446478;
	height: 24px;
	width: 24px;
	fill: currentColor;
}

.side_menu_svg_2 {
	color: #446478;
	height: 48px;
	width: 48px;
	fill: currentColor;
	border-radius: 50%;
}

.side_menu_content {
	display: flex;
	width: 80%;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.side_menu_content_2 {
	display: flex;
	width: 80%;
	flex-direction: column;
	align-items: center;
}

.side_menu_content_2>h1 {
	color: #3c4858;
	font-size: 0.875rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01071em;
}

.side_menu_content_2>p {
	color: rgba(0, 0, 0, 0.87);
	font-size: 0.75rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.66;
	letter-spacing: 0.03333em;
}

.drop_down,
.drop_up {
	color: blue;
	height: 24px;
	width: 24px;
	margin-right: 15px;
	fill: currentColor;
}

.drop_up,
.hidden {
	display: none;
}

.line_break {
	height: 0.1px;
	width: 100%;
	background: #3c4858;
	margin: 10px 0px;
}

/* Section CSS */